:root {
    /* Color Palette */
    --color-light-gray: #e9ecef;
    --color-dark-gray: #212529;
    --color-blue-gray: #2C3E50;
    --color-dark-red: #7B1E26;
    --color-light-blue: #eef6ff;
    --color-onyx: #353839;
    --color-platinum: #e5e4e2;
    --color-gunmetal: #2a3439;
    --color-alice-blue: #f0f8ff;

    /* Font Families */
    --font-primary: 'Montserrat', sans-serif;

    /* Component Colors */
    --color-headline-on-white: var(--color-onyx);
    --color-headline-on-color: var(--color-platinum);
    --color-paragraph-on-white: var(--color-onyx);
    --color-paragraph-on-color: var(--color-platinum);
    --color-paragraph-background: var(--color-gunmetal);
    --color-nav-link: var(--color-platinum);
    --color-nav-background: var(--color-gunmetal);
    --color-nav-hover-link: var(--color-alice-blue);
    --color-nav-hover-background: var(--color-onyx);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
}

h1 {
    font-size: 2rem;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    margin: 0;
    padding-bottom: 20px;
}
h2.box-title {
    padding: 10px 20px;
    background-color: var(--color-gunmetal);
    text-align: left;
    color: var(--color-platinum);
    font-size: 1.5rem;
    margin-top: 10px;
    margin-right: 50px;
}

table {
    margin: 0 auto;
    text-align: left;
    font-size: 1rem;
}

.weather table {
    padding: 25px 0;
}

td {
    padding: 5px;
}

td.label {
    text-align: right;
}

.container {
    text-align: center;
    display: grid;
    grid-template-rows: 2fr auto auto;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

header {
    padding: 20px;
    text-align: center;
    background-color: var(--color-onyx);
    color: var(--color-platinum);
}

.hero-section {
    grid-row: 1;
    background-color: var(--color-gunmetal);
    padding-top: 20px;
}

.hero img {
    width: 100%;
    height: auto;
    mask-image: linear-gradient(var(--color-dark-red) 95%, transparent);
}

.data,
.weather {
    padding-top: 25px;
}

.data {
    grid-row: 2;
}

.weather-icon {
    display: none;
}

.weather {
    grid-row: 3;
    margin-bottom: 50px;
}

.weather img {
    width: 15%;
    height: auto;
}

header,
footer {
    background-color: var(--color-onyx);
    color: var(--color-platinum);
}

footer {
    padding: 25px 0;
    text-align: center;
    font-size: 1rem;
}